<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="MiniStopApplication.Properties.Settings.MiniStopConnectionString" connectionString="Data Source=ASUSX510UR;Initial Catalog=MiniStop;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="MiniStopEntities" connectionString="metadata=res://*/DAO.MiniStop.csdl|res://*/DAO.MiniStop.ssdl|res://*/DAO.MiniStop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MiniStop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="MiniStopEntities1" connectionString="metadata=res://*/DAO.MinoStop.csdl|res://*/DAO.MinoStop.ssdl|res://*/DAO.MinoStop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUSX510UR;initial catalog=MiniStop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>